<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--{{ str }}-->
        <!-- -->
        <!--<p id="abcd1234">{{ num }}</p> -->
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <p>{{ doubleNum }}</p>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user hasbenn logged in
        </div>

        <!--if 는 아예 없고 , 얘는 css 속성의 display:none 이먹음-->
        <div v-show="loading">
            Loading...
        </div>

        <!-- vuejs.org 에서 찾아서 하면됨-->
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            //data 바인딩
            data: {
                //str: 'hi'
                num: 10,
                //doubleNum: 10 * 2
                uuid: 'abcd1234',
                name: 'text-blue',
                loading: false,
                message: ''
            }, 
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        })
    </script>
</body>
</html>